@font-face {
  font-family: "Space Grotesk";
  src: url(" /single-page-developer-portfolio/fonts/static/SpaceGrotesk-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url(" /single-page-developer-portfolio/fonts/static/SpaceGrotesk-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary-100: rgb(255, 255, 255);
  --clr-primary-200: rgb(217, 217, 217);
  --clr-primary-400: rgb(36, 36, 36);
  --clr-primary-800: rgb(21, 21, 21);
  --clr-primary-800-op75: rgba(21, 21, 21, 0.75);
  --clr-accent-400: rgb(76, 225, 160);
  --clr-secondary-400: rgb(255, 111, 91);

  --ff-base: "Space Grotesk", system-ui, sans-serif;

  /* Font sizes */
  --fs-100: 12px;
  --fs-200: 16px;
  --fs-300: 18px;
  --fs-400: 24px;
  --fs-500: 32px;
  --fs-600: 40px;
  --fs-700: 48px;
  --fs-800: 72px;
  --fs-900: 88px;

  /* Line heights */
  --lh-100: 16px;
  --lh-200: 24px;
  --lh-300: 26px;
  --lh-400: 28px;
  --lh-500: 32px;
  --lh-600: 40px;
  --lh-700: 56px;
  --lh-800: 72px;
  --lh-900: 88px;

  /* Letter spacings */
  --ls-100: -0.17px;
  --ls-200: -0.22px;
  --ls-300: -0.33px;
  --ls-400: -0.44px;
  --ls-500: -1px;
  --ls-600: -1.14px;
  --ls-700: -1.5px;
  --ls-800: -2.05px;
  --ls-900: -2.5px;

  /* --ls-button-900: var(--ls-200); */
  --ls-button-900: 2.28571px;

  /* Layers (z-index) */
  --content-layer: 1;
  --deco-layer: 3;
  --bar-layer: 2;
}

html {
  min-width: 100%;
  color-scheme: dark;
  font-family: var(--ff-base);
  background-color: var(--clr-primary-800);
  color: var(--clr-primary-100);
  overflow-x: clip;
}

body {
  min-width: 100%;
  overflow-x: clip;
}

picture,
img {
  max-width: 100%;
  display: block;
}

html,
body,
h1,
h2,
h3,
section p {
  margin: 0;
  padding: 0%;
}
/* Font sizing in elements */
body {
  font-size: var(--fs-200);
  line-height: var(--lh-300);
  font-weight: normal;
}

h1 {
  font-size: var(--fs-600);
  line-height: var(--lh-600);
  letter-spacing: var(--ls-600);
  font-weight: bold;
}

h2 {
  font-size: var(--fs-500);
  line-height: var(--lh-600);
  letter-spacing: var(--ls-500);
  font-weight: bold;
}

h3 {
  font-size: var(--fs-400);
  line-height: var(--lh-500);
  font-weight: bold;
}

.button-style {
  color: var(--clr-primary-100);
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  font-size: var(--fs-200);
  line-height: var(--lh-300);
  letter-spacing: var(--ls-button-900);
  font-weight: bold;
  cursor: pointer;
  border-color: var(--clr-accent-400);
  border-width: 0 0 2px 0;
  border-style: solid;
  padding-inline: 0;
  padding-bottom: 10px;
  align-self: center;
}

.button-style:hover {
  color: var(--clr-accent-400);
}

.form-label-style {
  font-size: var(--fs-200);
  line-height: var(--lh-300);
  letter-spacing: var(--ls-200);
}

.section-color-100 {
  color: var(--clr-primary-200);
  background-color: var(--clr-primary-800);
}
.section-color-400 {
  background-color: var(--clr-primary-400);
}
@media (min-width: 375px) {
}

@media (min-width: 768px) {
  body {
    font-size: var(--fs-300);
    line-height: var(--lh-400);
  }

  h1 {
    font-size: var(--fs-800);
    line-height: var(--lh-800);
    letter-spacing: var(--ls-800);
  }

  h2 {
    font-size: var(--fs-700);
    line-height: var(--lh-700);
    letter-spacing: var(--ls-700);
  }

  h3 {
    font-size: var(--fs-400);
    line-height: var(--lh-500);
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: var(--fs-900);
    line-height: var(--lh-900);
    letter-spacing: var(--ls-900);
  }

  h2 {
    font-size: var(--fs-700);
    line-height: var(--lh-700);
    letter-spacing: var(--ls-700);
  }
}

/* Utility classes */
.half-opacity {
  opacity: 0.5;
}

.quarter-opacity {
  opacity: 0.25;
}
