---
import SectionLayout from "../layouts/SectionLayout.astro";

const bgColor = "section-color-100";
---

<SectionLayout bgColor={bgColor}>
    <div class="credits">
        <span>
            Vector icons on form by <a
                href="https://www.svgrepo.com"
                target="_blank">SVG Repo</a
            >
        </span>
        <span>
            Challenge by <a
                href="https://www.frontendmentor.io?ref=challenge"
                target="_blank">Frontend Mentor</a
            >.
        </span>
        <span>
            Coded by <a href="https://josemonge.dev">Jose Monge</a>.
        </span>
    </div>
</SectionLayout>
<style>
    .credits {
        padding: 16px 24px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    a {
        color: var(--clr-accent-400);
    }
</style>
