---
import SectionLayout from "../layouts/SectionLayout.astro";
import Figure from "./Figure.astro";
const experience = [
  { lang: "HTML", time: "4" },
  { lang: "CSS", time: "4" },
  { lang: "Javascript", time: "4" },
  { lang: "Accessibility", time: "4" },
  { lang: "React", time: "3" },
  { lang: "Sass", time: "3" },
];
---

<SectionLayout>
  <section class="skills-grid">
    {
      experience.map((skill) => (
        <div class="skill">
          <h2>{skill.lang}</h2>
          <div>{skill.time} Years of Experience</div>
        </div>
      ))
    }
  </section>
  <aside class="deco-layer">
    <div class="rings">
      <Figure icon="pattern-rings" />
    </div>
  </aside>
</SectionLayout>

<style>
  .deco-layer {
    position: relative;
    z-index: var(--deco-layer);
  }

  .rings {
    position: absolute;
    top: calc(-129px / 2);
    left: calc(189px + -375px / 2);
  }

  .skills-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    border-color: var(--clr-primary-100);
    border-width: 0 0 1px 0;
    border-style: solid;
    padding-block: 40px;
  }

  .skill {
    text-align: center;
  }

  .skill > div {
  }

  @media (min-width: 768px) {
    .skills-grid {
      row-gap: 52px;
      column-gap: 7px;
      grid-template-columns: repeat(2, auto);
      border: none;
      padding-top: 52px;
      padding-bottom: 0;
    }

    .skill {
      text-align: left;
    }

    .rings {
      top: calc(-129px / 2);
      left: calc(-768px / 2 + 570px);
    }
  }

  @media (min-width: 1440px) {
    .skills-grid {
      grid-template-columns: repeat(3, auto);
    }
    .rings {
      top: calc(-129px / 2);
      left: calc(-1440px / 2 + 1149px);
    }
  }
</style>
