---
---

<section>
  <h1>Nice to meet you! I'm Adam Keyes.</h1>

  <p>
    Based in the UK, I'm a front-end developer passionate about building
    accessible web apps that users love.
  </p>

  <a href="#contact"> Contact me</a>
</section>
